RewriteEngine on

# Redirect to index.html if the uri is one of the page
RewriteCond %{REQUEST_URI} ^\/(?:home|event|team|about)?$
RewriteRule ^.*$ /index.html [L]

# Redirect to index.html and report 404 if the file does not exist
ErrorDocument 404 /index.html
# RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
# RewriteRule ^ - [R=404,L]
